*{
    padding: 0;
    margin: 0;
}
h1{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    margin: 15px 0;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
    font-size: smaller;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
}
.main{
    display: flex;
    background-color: white;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.1));
}
.main div{
    width: 50%;
}
.imgDisplay{
    background-image: url('./images/image-product-desktop.jpg');
    background-size: cover;
    border-radius: 10px 0 0 10px;
}
.main div:nth-of-type(even){
    padding: 35px;
    max-width: 230px;
    line-height: 1;
}
.main div:nth-of-type(even) p{
    line-height: 1.6;
}
.priceBox{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 45px;
}
.priceBox p{
    margin: 0 5px;
}
.priceNew{
    font-family: 'Fraunces', serif;
    font-size: 40px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}
.priceOld{
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    background-color: hsl(158, 36%, 37%);
    width: 230px;
    height: 50px;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
}
button img{
    margin: 0 5px;
}
button:hover{
    background-color: hsl(212, 21%, 14%);
}
.addCart img{
    width: 8%;
}

@media (max-width: 800px) {
    .main{
        width: 365px;
        height: 650px;
        flex-wrap: wrap;
    }
    .imgDisplay{
        background-image: url('./images/image-product-mobile.jpg');
        border-radius: 10px 10px 0 0;
        min-height: 240px;
    }
    .main div{
        width: 365px;
    }
    .main div:nth-of-type(even){
        padding: 35px;
        max-width: 365px;
    }
    .priceBox{
        padding: 0 0px;
        max-width: 295px;
        justify-content: left;
    }
    button{
        width: 295px;
    }
}
